* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Taube {
    width: 60px;
    height: 15px;
}

.samsung {
    width: 80px;
    height: 30px;

}

.yazi {
    font-family: 'Poppins', sans-serif;
}

.solyz {
    padding-left: 15px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 15px;

}

#bt {
    font-family: 'Poppins', sans-serif;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    color: rgb(255, 94, 0);
    border-color: rgb(255, 94, 0);
    border: 2px solid;
}

.ul li {
    list-style: none;
}

.nm {
    padding-right: 7px;
    border-right: 1px solid rgb(185, 185, 185);

}

.by {
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 1px solid rgb(185, 185, 185);
}

.pr {
    display: flex;
    align-items: center;
}

.sagyz {
    display: flex;
    align-items: center;
    margin-right: 15px;

    gap: 10px;




}

.navbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(197, 197, 197);
    justify-content: space-between;
}
#irs{
    width: 110px;
    height: 50px;
    padding-left: 10px;
}
#inp{
    
    background-color: aliceblue;
    border-radius: 10px;
    width: 600px;
    height: 50px;
    border: 1px solid;
    border-color: rgb(192, 192, 192);
    
}
#lupa{
    margin: 1% 0 0 50%;
}
#btn{
    gap: 4px;
    border: 0;
    background-color: green;
    color: white;
    padding: 0 10px;
    width: 110px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.altnv{
    margin-left: 10px;
    margin-top: 30px;
    display: flex;
    gap: 25px;
    

}
.src{
    gap: 10px;
    display: flex;
    margin-left: 40px;
   
}
.mq{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.like{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sb{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart{
    
    border: 2px solid;
    border-radius: 5px;
    color: green;
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    height: 10vh;
    transition: 0.7s;
}
.cart:hover{
    background-color: green;
    color: white;

}
.qr{
    display: flex;
    justify-content: flex-end;
}
.kart{
    display: flex;
   flex-direction: column;
    
    width: 24%;
    border: 1px solid rgb(192, 192, 192);
}
.down{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ad{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

}
.iph{
    width: 220px;
}
.bolme{
    font-family: 'Poppins', sans-serif;
    color: grey;
}
.cards{
    margin-left: 10px;
}
#bnv{
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: purple;
}
#qara{
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: black
}
#sari{
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: yellow;
}
#boz{
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color:grey;
}
.reng{
    display: flex;
    gap: 5px;
    margin-left: 37px;
    margin-top: 10px;
}
.orta{
    display: flex;
    align-items: center;
}
.cmnt{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}
.star{
    display: flex;
    color: orange;
    margin-left: 33px;
    margin-top: 10px;
}
#fz{
    color: blue;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 55px;
    margin-top: 10px;
}
.buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.bt1{
    font-family: 'Poppins', sans-serif;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
}
#bt2{
    font-family: 'Poppins', sans-serif;
    width: 180px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid ;
    border-color: #3192ec!important;
    color: #3192ec!important;
    margin: 10px;
}